{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'transfer/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Secure File Transfer</h1>
        <form action="{% url 'send_file' %}">
            <button type="submit">Send</button>
        </form>
        <form action="{% url 'receive_file' %}">
            <button type="submit">Receive</button>
        </form>
    </div>
</body>
</html>
